In [1]:
!pip3 install pandas

WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
test_data = pd.read_csv("test_result.csv",index_col=[0])

In [4]:

test_data['ground_truth_answer'] = test_data['plausible'].map({1:'plausible',0:'implausible'})
test_data = test_data.drop(columns =['plausible'])

new_test_data = test_data.head(-316)
new_test_data

                                             sentences ground_truth_answer
0    Tom stepped on a book that was left on the flo...         implausible
1    Tom walked in the door.Tom stepped on a book t...           plausible
2    Tom walked in the door.Tom stepped on a book t...         implausible
3    Tom walked in the door.Tom stepped on a book t...           plausible
4    John filled the sandbox with sand.John set the...         implausible
..                                                 ...                 ...
495  John was sitting in front of his desktop compu...           plausible
496  John was sitting in front of his desktop compu...         implausible
497  John was sitting in front of his desktop compu...           plausible
498  Ann read a book.Ann unplugged the phone.Ann re...         implausible
499  Ann read a book.Ann unplugged the phone.Ann re...           plausible

[500 rows x 2 columns]

In [5]:
test_result = pd.read_csv("test_prediction.csv", index_col=[0])

In [6]:
# test_result = test_result.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
test_result['result'] = test_result['result'].str.split("[").str[-1]

In [8]:
test_result['result'] = test_result['result'].str.split("]").str[0]
test_result['result'] = test_result['result'].astype(int)

In [9]:
test_result['result'] = test_result['result'].map({1:'plausible',0:'implausible'})

In [10]:
new_test_result = test_result.head(-316)
new_test_result

          result
0      plausible
1      plausible
2      plausible
3      plausible
4    implausible
..           ...
495    plausible
496  implausible
497    plausible
498  implausible
499    plausible

[500 rows x 1 columns]

In [11]:
test_data_result = new_test_result['result']

In [12]:
new_test_data = new_test_data.join(test_data_result)

In [13]:
new_test_data

,sentences,ground_truth_answer,result
0,Tom stepped on a book that was left on the flo...,implausible,plausible
1,Tom walked in the door.Tom stepped on a book t...,plausible,plausible
2,Tom walked in the door.Tom stepped on a book t...,implausible,plausible
3,Tom walked in the door.Tom stepped on a book t...,plausible,plausible
4,John filled the sandbox with sand.John set the...,implausible,implausible
...,...,...,...
495,John was sitting in front of his desktop compu...,plausible,plausible
496,John was sitting in front of his desktop compu...,implausible,implausible
497,John was sitting in front of his desktop compu...,plausible,plausible
498,Ann read a book.Ann unplugged the phone.Ann re...,implausible,implausible
499,Ann read a book.Ann unplugged the phone.Ann re...,plausible,plausible

In [14]:
new_test_data.to_csv("HW3.csv",index=False)

In [15]:
df = pd.read_csv('Batch_375637_batch_results.csv')

In [16]:
df = df.drop(columns=["Title","Description","Keywords","Reward"])
df  = df.drop(columns=["RequesterAnnotation","CreationTime","RequesterFeedback","LifetimeApprovalRate","Last7DaysApprovalRate"])
df  = df.drop(columns=["ApprovalTime","AutoApprovalTime","RejectionTime","Last30DaysApprovalRate","NumberOfSimilarHITs"])
df  = df.drop(columns=["AssignmentDurationInSeconds","AutoApprovalDelayInSeconds","Expiration","LifetimeInSeconds","AssignmentStatus","AcceptTime","SubmitTime","Approve","Reject"])
new_df = df[['Answer.Tiered Reasoning for Intuitive Physics.label','Input.sentences']].copy()

In [17]:
new_df = new_df.rename(columns={'Answer.Tiered Reasoning for Intuitive Physics.label':'Answer'})

In [18]:
dictionary = {}
# new_df['Answer']

for i in range(len(new_df['Answer'])):
    dictionary[new_df['Input.sentences'][i]] =new_df['Answer'][i]

In [19]:
new_test_data['Answer'] = new_test_data['sentences'].map(dictionary)

In [20]:
new_test_data['ground_truth_answer'] = new_test_data['ground_truth_answer'].map({'plausible':1,'implausible':0})
new_test_data['result'] = new_test_data['result'].map({'plausible':1,'implausible':0})
new_test_data['Answer'] = new_test_data['Answer'].map({'plausible':1,'implausible':0})
new_test_data

,sentences,ground_truth_answer,result,Answer
0,Tom stepped on a book that was left on the flo...,0,1,NaN
1,Tom walked in the door.Tom stepped on a book t...,1,1,1.0
2,Tom walked in the door.Tom stepped on a book t...,0,1,NaN
3,Tom walked in the door.Tom stepped on a book t...,1,1,1.0
4,John filled the sandbox with sand.John set the...,0,0,NaN
...,...,...,...,...
495,John was sitting in front of his desktop compu...,1,1,NaN
496,John was sitting in front of his desktop compu...,0,0,0.0
497,John was sitting in front of his desktop compu...,1,1,NaN
498,Ann read a book.Ann unplugged the phone.Ann re...,0,0,NaN
499,Ann read a book.Ann unplugged the phone.Ann re...,1,1,1.0

In [21]:
new_test_data_final = new_test_data.dropna(axis=0).reset_index(drop=True)

In [22]:
new_test_data_final

,sentences,ground_truth_answer,result,Answer
0,Tom walked in the door.Tom stepped on a book t...,1,1,1.0
1,Tom walked in the door.Tom stepped on a book t...,1,1,1.0
2,John filled the sandbox with sand.John set the...,1,0,1.0
3,John filled the sandbox with sand.John set the...,1,0,1.0
4,John filled the sandbox with sand.John set the...,1,0,1.0
...,...,...,...,...
164,Tom turned the oven on.Tom cut up the meat.Tom...,1,0,1.0
165,Tom turned the oven on.Tom cut up the meat.Tom...,1,0,1.0
166,John printed out a page from his computer.John...,0,0,0.0
167,John was sitting in front of his desktop compu...,0,0,0.0
168,Ann read a book.Ann unplugged the phone.Ann re...,1,1,1.0

In [23]:
!pip3 install -U scikit-learn

WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
Requirement already satisfied: scikit-learn in /opt/homebrew/lib/python3.10/site-packages (1.2.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/homebrew/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/lib/python3.10/site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /opt/homebrew/lib/python3.10/site-packages (from scikit-learn) (1.10.0)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)
WARNING: Ignoring invalid distribution -entencepiece (/opt/homebrew/lib/python3.10/site-packages)

[notice] A new release of pip available: 22.2.2 -> 23.0
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [24]:
from sklearn.metrics import accuracy_score

In [27]:
print(accuracy_score(new_test_data_final['ground_truth_answer'],new_test_data_final['result']))

0.6745562130177515

In [28]:
print(accuracy_score(new_test_data_final['ground_truth_answer'],new_test_data_final['Answer']))

0.7455621301775148